{% extends 'base.html'%}
{% load static%}

{% block content%}
<br>
<div class="container">
    <div class="row text-center">
       <h4> ماكينات التصوير - مديرية التربية     </h4>
    </div>

        <div class="col-md-12 ">
                <a href="{% url 'doe'%}">
                  <h4 style="color:blue;font-size:16px;">  <i class="fa fa-arrow-left fa-md" aria-hidden="true"></i> &nbsp Back</h4>
                </a>
        </div>
    <table class="table table-striped mt-2">
        <thead class="border-bottom  font-weight-bold">
        <tr>
            <td> Model Name</td>
            <td> IP</td>
            <td> Location</td>
            <td> Company</td>
            <td> Contact</td>
            <td> Driver</td>
            <td>
                <a href="{%url 'doe_copier_form'%}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
            {% for copier in doe_copier%}
                <tr>
                    <td> {{copier.brand_name}}</td>
                    <td> {{copier.ip}}</td>
                    <td> {{copier.place}}</td>
                    <td> {{copier.company}}</td>
                   <td> {{copier.company_phone}}</td>
                    <td> {{copier.driver}}</td>
                    <td>
                        <a href="{%url 'doe_copier_form_update' copier.id%}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'doe_copier_delete' copier.id%}" class="d-inline">
                           <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>

     <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                             <div class="col-md-2">
                        <a href="{% url 'doe'%}" class="btn btn-secondary btn-lg btn-block">
                            <i class="fas fa-stream"></i> Back
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a href="{% url 'exportDoeCopier'%}" class="btn btn-success btn-lg btn-block ">
                            <i class="fas fa-file-excel"></i> Export xls
                        </a>
                    </div>

                        </div>
                    </div>

                </div>
</div>
{% endblock content%}