{%extends "base.html"%}


{% load static %}

{% block content%}



<div class="container-fluid justify-content-center bg-light pt-3p">
    <div class="row text-center justify-content-center  ">

        <div class="col-md-8 ">
            <h4> أجهزة الحاسوب - مديرية التربية والتعليم</h4>
        </div>

    </div>






<div class="container-fluid b-5 ">

    <div class="row justify-content-center">

        <div class="col-md-10">
            <div class="col-md-12 ">
                <a href="{% url 'doe'%}">
                  <h4 style="color:blue;font-size:16px;">  <i class="fa fa-arrow-left fa-md" aria-hidden="true"></i> &nbsp Back</h4>
                </a>
        </div>
            <table class="table  table-striped">
                <thead class="border-bottom  font-weight-bold">
                <tr class="text-center" style="background:white;">
                    <td>#</td>
                    <td>Emp Name</td>
                    <td>Department</td>
                    <td>Model</td>
                    <td>CPU</td>
                    <td>Ram</td>
                    <td>HD</td>
                    <td>IP</td>
                    <td>Monitor</td>
                    <td>Serial</td>
                    <td>Anti-Virus</td>
                    <td>Expiry Date</td>
                    <td>
                        <a href="{%url 'computer_form'%}" class="btn btn-outline-success">
                            <i class="fas fa-plus"></i> Add New Computer
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>

                {% for computer in doe_computer%}

                <tr class="text-center">
                    <td>{{ forloop.counter }}</td>
                    <td>{{computer.employee_name}}</td>
                    <td>{{computer.department}}</td>
                    <td>{{computer.brand_name}}</td>
                    <td>{{computer.cpu}}</td>
                    <td>{{computer.ram}} &nbsp; {{computer.ram_type}}</td>
                    <td>{{computer.hdd}} &nbsp; {{computer.hdd_type}}</td>
                    <td>{{computer.ip}}</td>
                    <td>{{computer.monitor}}</td>
                    <td>{{computer.serial}}</td>
                    <td>{{computer.anti_viruse}}</td>
                    <td>{{computer.expiry_date}}</td>

                    <td>
                        <a href="{% url 'computer_update' computer.id %}" class="btn text-secondary px-0">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                        <form action="{% url 'computer_delete' computer.id %}" class="d-inline">
                            {%csrf_token%}
                            <button type="submit" class="btn">
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr>

                {%endfor%}


                </tbody>
            </table>


            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row justify-content-center">


                        <div class="col-md-2">
                            <a href="{% url 'exportDoeComputer'%}" class="btn btn-success btn-lg btn-block ">
                                <i class="fas fa-file-excel"></i> Export xls
                            </a>
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>


</div>
</div>

{%endblock content%}