{% extends 'base.html'%}
{%load crispy_forms_tags%}
{%load static%}
{% block content%}
<div class="container  justify-content-center p-3 my-3 border bg-light">
    <form action="" method="post">
        {%csrf_token%}
        <div class="row justify-content-center">
            <div class="col-md-5 ">
                {{ form | crispy}}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                    Submit
                </button>
            </div>
            <div class="col-md-2">
                <a href="{% url 'doe_printer'%}" class="btn btn-secondary btn-lg btn-block">
                    <i class="fas fa-stream"></i> Back
                </a>
            </div>

        </div>

    </form>
</div>
{% endblock content%}