{% extends 'base.html'%}
{%load crispy_forms_tags%}
{%load static%}

{% block content%}
<div class="container p-3 my-3 border bg-light justify-content-center">
            <form action="" method="post">
                {% csrf_token%}
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        {{form.brand_name | as_crispy_field}}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        {{form.copier_ip | as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{form.copier_place| as_crispy_field}}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        {{form.copier_company | as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{form.copier_company_phone | as_crispy_field}}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        {{form.copier_driver | as_crispy_field}}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-lg btn-block">
                            Submit
                        </button>
                    </div>

                    <div class="col-md-4">
                        <a href="{% url 'doe_copier'%}" class="btn btn-secondary btn-lg btn-block">
                            Back to Copiers
                        </a>
                    </div>

                </div>
            </form>
</div>


{%endblock content%}