{% extends 'base.html'%}
{%load crispy_forms_tags%}
{%load static%}

{% block content%}
<div class="container p-3 my-3 border bg-light justify-content-center">
          <div class="row justify-content-center">

              <div class="col-md-6">
                              <form action="" method="post">
                {% csrf_token%}
                     {{form | crispy }}

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-lg btn-block">
                            Submit
                        </button>
                    </div>

                    <div class="col-md-4">
                        <a href="{% url 'doe_copier'%}" class="btn btn-secondary btn-lg btn-block">
                           <i class="fas fa-stream"></i> Back
                        </a>
                    </div>

                </div>
            </form>

              </div>
          </div>

</div>


{%endblock content%}