{%extends 'base.html' %}
{% load crispy_forms_tags%}

{% block content%}
<div class="container p-3 my-3 border bg-light">
    <form action="" method="post">
        {% csrf_token%}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{form | crispy}}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                    Submit
                </button>
            </div>
            <div class="col-md-2">
                <a href="{% url 'school_info'%}" class="btn btn-secondary btn-lg btn-block">
                   <i class="fas fa-stream"></i> Back
                </a>
            </div>
        </div>

    </form>
</div>
{%endblock content %}
